<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer" class="bg-dark text-white py-4 text-center">
    <div class="container">
        <p class="mb-1">
            Photo by <a
                href="https://unsplash.com/@iangvalerio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                class="text-white text-decoration-none">Ian Valerio</a> on <a
                href="https://unsplash.com/photos/aerial-view-photography-of-road-between-highrise-building-CAFq0pv9HjY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                class="text-white text-decoration-none">Unsplash</a>
            | Made with Bootstrap & Material Kit | Jan Kocábek &copy; 2025
        </p>
    </div>
</footer>
</body>
</html>