<footer th:fragment="footer" class="footer  bottom-2 py-2 w-100 bg-dark text-white text-center">
    <th:block th:insert="~{fragments/footer :: footerContent}"></th:block>
</footer>

<th:block th:fragment="footerContent">
    <div class="container">
        <div class="row align-items-center justify-content-lg-between">
            <!-- Left Side: Inline Attribution -->
            <div class="col-12 col-md-9 my-auto">
                <div
                    class="d-flex flex-wrap justify-content-center justify-content-md-start gap-3 text-white text-sm text-center text-md-start">
                    <span>
                        © 2025, made with <i class="ti ti-heart" aria-hidden="true"></i> by
                        <a class="font-weight-bold text-white" href="https://github.com/JanKocabek" target="_blank">Jan
                            Kocábek</a>
                    </span>

                    <span>
                        Photo by <a class="text-white text-decoration-none"
                            href="https://unsplash.com/@iangvalerio?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                            target="_blank">Ian Valerio</a> on
                        <a class="text-white text-decoration-none"
                            href="https://unsplash.com/photos/aerial-view-photography-of-road-between-highrise-building-CAFq0pv9HjY?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
                            target="_blank">Unsplash</a>
                    </span>
                    <span>
                        Built with <a href="https://getbootstrap.com/" class="font-weight-bold text-white"
                            target="_blank">Bootstrap</a> &
                        <a href="https://www.creative-tim.com/product/material-kit" class="font-weight-bold text-white"
                            target="_blank">Material Kit</a>
                    </span>
                </div>
            </div>

            <!-- Right Side: Navigation Links -->
            <div class="col-12 col-md-3">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white" target="_blank">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/JanKocabek/animeRecomedationSystem" class="nav-link text-white"
                            target="_blank">Github</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link pe-0 text-white" target="_blank">License</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</th:block>